<form method="post" action="{{ path('media_video_delete', {'id': media_video.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette vidéo ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media_video.id) }}">
    <button class="btn btn-outline-danger">Delete</button>
</form>
